/* Add CSS Styling */

.odd {
    background-color: #f08080;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color:rgb(0, 0, 255);
    font-size: 36px;
}

.font-24 {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}