body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 6px;
  margin: 12px 0px;
}

.button-container {
  display: block;
  background: #e3f4ff;
  font-size: 18px;
  padding: 12px;
  text-align: center;
}

button {
  display: block;
  background: white;
  font-size: 18px;
  padding: 6px;
  margin: 0 auto;
  border: 1px solid #eee;
}